body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  background-color: #1f2937;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  border-bottom: 1px solid #e5e7eb;
}

.header ul {
  list-style: none;
  justify-self: flex-end;
  align-items: center;
  display: flex;
  gap: 16px;
}

a {
  /* Remove text-underline and set the color of the text */
  text-decoration: none;
  color: #e5e7eb;
  font-size: 13px;
  display: flex;
  /* gap: 2px;
  align-items: center;
  justify-content: center; */
  /* padding: 5px;
  border-left: 1px solid #e5e7eb; */
}

.logo-text {
  color: #e5e7eb;
  font-size: 16px;
  /* background-color: rgb(63, 84, 153); */
  /* padding: 8px;
  border: 2px solid white;
  border-radius: 2px; */
}

.logo-img {
  height: 22px;
  width: 22px;
}

.title {
  display: flex;
  background-color: #1f2937;
}

.title-container {
  display: flex;
  /* justify-content: center; */
  margin-left: 48px;
  margin-right: 48px;
}

.title-left {
  color: #e5e7eb;
  font-size: 18px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
}

.title-left div {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.title-right {
  display: flex;
  flex: 1 1 450px;
  align-items: start;
  padding: 20px;
  padding-left: 10px;
}

.title-left button {
  color: #f9faf8;
  background-color: #3882f6;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.title img {
  width: 200px;
  height: auto;
  margin: 25px;
  flex: auto;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.showcase {
  background-color: #f9faf8;
  height: fit-content;
  flex: 1 1 auto;
  justify-self: flex-start;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  overflow: auto;
}

.showcase-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  justify-content: space-between;
  flex: auto;
  /* gap: 16px; */
}

.showcase-containers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  width: auto;
  min-width: auto;
  gap: 10px;
  flex: 1 1 300px;
  flex-wrap: wrap;
}

.sc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  margin-top: 16px;
  flex: auto;
}

.sc-image-box {
  border: 4px solid #1f2937;
  border-radius: 12px;
  flex: auto;
}

.sc-image-box img {
  width: 100px;
  height: 100px;
  padding: 12px;
  flex: 0 1 100;
  flex-wrap: wrap;
}

.sc-text {
  margin-top: 8px;
  width: 112px;
  height: 200px;
  flex: 1 1 50px;
  color: #373b41;
}

.showcase-title {
  font-weight: bold;
  font-size: 24px;
  flex: auto;
}

.quote-banner {
  background-color: #e5e7eb;
  flex: 1 1 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.quote-text {
  max-width: 500px;
  max-height: 50px;
  flex: 1 1 100px;
  font-size: 18px;
  padding: 10px;
  padding-bottom: 2px;
  font-weight: 360;
  color: #000000;
}

.quote-attribution {
  color: #000000;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.calltoaction {
  display: flex;
  /* flex: 1 1 150px; */
  /* align-self: center; */
}

.banner {
  display: flex;
  flex: 1 1 150px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 25px;
  margin: 25px;
  margin-left: 48px;
  margin-right: 48px;
  border-radius: 4px;
  background-color: #3882f6;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.banner-text {
  /* flex: 2 2 100px; */
  color: #f9faf8;
  flex-direction: column;
}

.banner-button button {
  background-color: #3882f6;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  border-radius: 8px;
  border: 2px solid #f9faf8;
  border-color: #f9faf8;
  color: #f9faf8;
  font-weight: 500;
  padding: 4px;
  padding-left: 4px;
  padding-right: 4px;
  height: 30px;
  width: 120px;
  flex: 1 1 100px;
}

.footer {
  background-color: #1f2937;
  height: 36px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
